<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>984775831995-2rsderdqf1996hs8uf4uhvlr3h7mm50q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984775831995-2rsderdqf1996hs8uf4uhvlr3h7mm50q</string>
	<key>API_KEY</key>
	<string>AIzaSyC0FbXjcSUURA85xLUqNd_rJLdMgr8NXsM</string>
	<key>GCM_SENDER_ID</key>
	<string>984775831995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yourcompany.WyCo</string>
	<key>PROJECT_ID</key>
	<string>notificacionesios-115df</string>
	<key>STORAGE_BUCKET</key>
	<string>notificacionesios-115df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984775831995:ios:a93d27cf81a627c8</string>
	<key>DATABASE_URL</key>
	<string>https://notificacionesios-115df.firebaseio.com</string>
</dict>
</plist>